fastapi
uvicorn
sentence-transformers
numpy
requests
beautifulsoup4
scikit-learn
python-multipart
python-dotenv
openai
pypdf
pymupdf
supabase
python-docx
python-pptx
openpyxl
duckduckgo-search
ragas
mlflow
langgraph
langchain
neo4j